<?php $this->headTitle()->prepend('Featured Engineering Candidate Profiles '); ?>
<style type="text/css">
.discipline { 
	width: 215px;
}

#discipline {
	font-size: 17px;
	line-height: 32px;
	display: inline;
	color: #0195C5;
}
#state {
	font-size: 17px;
	line-height: 32px;
	display: none;
	color: #0195C5;
}
#city {
	font-size: 17px;
	line-height: 32px;
	display: none;
	color: #0195C5;
}
</style>

<!--div class="navbar-inner">
	<div class="container">
		<a data-target=".nav-collapse" data-toggle="collapse"
			class="btn btn-navbar"> <span class="icon-bar"></span> <span
			class="icon-bar"></span> <span class="icon-bar"></span> </a>
		<div class="nav-collapse">
			<ul class="nav">
				<li id="disciplineLink" class="active"><a href="#top" onClick="switchFilterBy('discipline');">By Discipline</a></li>
				<li id="stateLink" class="inactive"><a href="#top" onClick="switchFilterBy('state');">By State</a></li>
				<li id="cityLink" class="inactive"><a href="#top" onClick="switchFilterBy('city');">By City</a></li>
			</ul>
		</div>
	</div>
</div-->


<div class="inner_top_cont">
                	<div class="inner_top_list">
                    	<ul id="disciplineLink" class="active">
                        	<li id="disciplineLink"><a href="#top" onClick="switchFilterBy('discipline');">By Discipline</a></li>
                            <li id="stateLink"><a href="#top" onClick="switchFilterBy('state');">By State</a></li>
                            <li id="cityLink"><a href="#top" onClick="switchFilterBy('city');">By City</a></li>
                        </ul>
                    </div>
                </div>
<!-- /navbar-inner -->
<div class="inner_contact">
<div class="row">
<div id="discipline" class="span12">
<?php //if($this->cachedUsed == 0 || !$this->appCache->start("indexDisciplines")) {?>
<?php if(is_array($this->Disciplines) && count($this->Disciplines) > 0) { //  //$this->url(array('discipline' =>  $Discipline->discipline . '-engineers'),'disciplines'); //"/candidates/" . $Discipline->discipline . '-engineers'; ///candidates/?disciplineID=<?php echo $Discipline->disciplineID; 
$count=0;
$columnCount = 4;
$totalDisciplines = count($this->Disciplines);
$column1 = ceil($totalDisciplines / $columnCount);
$column2 = $column1 + (ceil($totalDisciplines / $columnCount));
$column3 = $column2 + (ceil($totalDisciplines / $columnCount));
$column4 = $column3 + (floor($totalDisciplines / $columnCount));

foreach ($this->Disciplines as $Discipline): ?>
	<?php if($count ==0 || $count == $column1 || $count==$column2 || $count==$column3) {?><span class="span3"><?php }?><span class="discipline"><?php if($count !=0 && $count != $column1 && $count !=$column2 && $count!=$column3) {?><br/><?php }?><a href="/engineers/<?php echo strtolower(str_replace(" " , "-", $Discipline->discipline)) . '-engineers'; ?>"
		title="<?php echo $Discipline->discipline; ?>"><?php echo $Discipline->discipline . " Engineering"; ?></a></span><?php if($count == ($column1-1) || $count==($column2-1) || $count==($column3-1)) {?></span><?php }?>

	<?php $count++; endforeach ?>
	<?php }
	//$this->appCache->end(); // stop caching
//}?>
</div>
<div id="state">
<?php 
$count=0;
$columnCount = 4;
$totalStates = count($this->States);
$column1 = ceil($totalStates / $columnCount);
$column2 = $column1 + (ceil($totalStates / $columnCount));
$column3 = $column2 + (ceil($totalStates / $columnCount));
$column4 = $column3 + (floor($totalStates / $columnCount));

foreach ($this->States as $State): ?>
	<?php if($count ==0 || $count == $column1 || $count==$column2 || $count==$column3) {?><span class="span3"><?php }?><span class="state"><a href="/engineers/<?php echo  strtolower(str_replace(" ", "-", $State->state));?>"
		title="<?php echo $State->state; ?>"><?php if(strcasecmp($State->state,"District of Columbia") == 0)  { echo "D.C."; } else { echo $State->state; } ?></a><br /> </span><?php if($count == ($column1-1) || $count==($column2-1) || $count==($column3-1)) {?></span><?php } ?>

	<?php $count++; endforeach ?>
</div>
<div id="city" >
<?php 
$count=0;
$columnCount = 4;
$totalCities = count($this->Cities);
$column1 = ceil($totalCities / $columnCount);
$column2 = $column1 + (ceil($totalCities / $columnCount));
$column3 = $column2 + (ceil($totalCities/ $columnCount));
$column4 = $column3 + (floor($totalCities / $columnCount));

foreach ($this->Cities as $Cities): // /candidates/$Cities->state;/postalCode= trim($Cities->postalCode); 
	if( $Cities->city == "Washington, D.C.") {
		$tmpPathCityState = "DC/Washington";
		$tmpDisplayCityState = $Cities->city;
	} else {
		$tmpPathCityState = $Cities->state . "/" . str_replace(" ", "-", $Cities->city);
		$tmpDisplayCityState = $Cities->city . ', ' . $Cities->state;
	}
?>
	<?php if($count ==0 || $count == $column1 || $count==$column2 || $count==$column3) {?><span class="span3"><?php }?><span class="city"><a href="/engineers/<?php echo strtolower($tmpPathCityState);?>"
		title="<?php echo $Cities->city; ?>"><?php echo $tmpDisplayCityState; ?></a><br /> </span><?php if($count == ($column1-1) || $count==($column2-1) || $count==($column3-1)) {?></span><?php }?>

	<?php $count++; endforeach ?>
</div>
</div>
</div>



