<?php 

echo $this->doctype() ?>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JobSite Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	 <?php echo $this->headLink()->appendStylesheet('../application/views/css/bootstrap.css') ?>

    <style type="text/css">
      body {
        padding-top: 30px;
        padding-bottom: 20px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
     <?php echo $this->headLink()->appendStylesheet('../application/views/css/bootstrap-responsive.css') ?>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">JobSite Admin</a>
        <?php //if($blogrebootsession->loggedOn ==1) { ?> 
        <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i>Username
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="../user/profile">Profile</a></li>
              <li class="divider"></li>
              <li><a href="../auth/signout">Sign Out</a></li>
            </ul>
          </div>
         
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <!--  <li><a href="#about">Users</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
           <?php // } ?>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    <?php //if($blogrebootsession->loggedOn) { ?> 
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Main</li>
              <li><a href="#"><i class="icon-home"> </i>Home</a></li>
              <li><a href="#"><i class="icon-user"> </i>Customers</a></li>
               <li><a href="/user"><i class="icon-user"> </i>Users</a></li>
              <li><a href="#"><i class="icon-tasks"> </i>Queue</a></li>
              <li><a href="#"><i class="icon-list-alt"> </i>Logs</a></li>
              <li><a href="#"><i class="icon-shopping-cart"> </i>Payments</a></li>
              <li><a href="#"><i class="icon-refresh"> </i>Refunds</a></li>
              <li><a href="#"><i class="icon-wrench"> </i>Solutions</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
         <?php // } ?>
        <div class="span9">
	<?php echo $this->layout()->content; ?>

      <hr>

      </div>
<div>           
 <footer>
        <p>&copy; JobSite 2012</p>
      </footer></div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../application/views/scripts/js/bootstrap-transition.js"></script>
    <script src="../application/views/scripts/js/bootstrap-alert.js"></script>
    <script src="../application/views/scripts/js/bootstrap-modal.js"></script>
    <script src="../application/views/scripts/js/bootstrap-dropdown.js"></script>
    <script src="../application/views/scripts/js/bootstrap-scrollspy.js"></script>
    <script src="../application/views/scripts/js/bootstrap-tab.js"></script>
    <script src="../application/views/scripts/js/bootstrap-tooltip.js"></script>
    <script src="../application/views/scripts/js/bootstrap-popover.js"></script>
    <script src="../application/views/scripts/js/bootstrap-button.js"></script>
    <script src="../application/views/scripts/js/bootstrap-collapse.js"></script>
    <script src="../application/views/scripts/js/bootstrap-carousel.js"></script>
    <script src="../application/views/scripts/js/bootstrap-typeahead.js"></script>
	<script language="javascript">
		<!--
			$('.dropdown-toggle').dropdown();
		//-->
	</script>
  </body>
</html>