<?php 

	// capture query strings pertaining to search parameters and pass to pagination
	$urlParams = Zend_Controller_Front::getInstance()->getRequest()->getParams();
	$searchFilters = array("city"=>"","discipline"=>"","disciplineID"=>"","state"=>"","postalCode"=>"");
	
	$urlParamsFound = array_intersect_key($urlParams, $searchFilters);
?>
<div class="pagination pagination-centered">
	<ul>
	<?php if (isset($this->first) && count($this->pagesInRange)>1): ?>
		<li><a href="<?php echo $this->url(array('page' =>  $this->first));?>">First</a>
		<?php endif?>
	<?php if(isset($this->previous)):?>
		<li><a href="<?php echo $this->url(array('page' => $this->previous));  ?>">Prev</a>
		</li>
		<?php endif?>
		<?php foreach($this->pagesInRange as $page) :?>
		<?php 
			$class="none";
			
			if($page == $this->current) {
				$class = "active";
			}
		?>
		<li class="<?php echo $class;?>"><a
			href="<?php echo $this->url(array('page' => $page));  ?>"><?php echo $page;?>
		</a>
		</li>
		<?php endforeach; ?>
		<?php if (isset($this->next)): ?>
		<li><a href="<?php echo $this->url(array('page' =>  $this->next)); ?>">Next</a>
		<?php endif?>
		<?php if (isset($this->last) && count($this->pagesInRange)>1): ?>
		<li><a href="<?php echo $this->url(array('page' =>  $this->last));  ?>">Last</a>
		<?php endif?>
		</li>
	</ul>
</div>