<div class="candidate_profile_cont">
 <div class="candidate_profile_top">
<div class="candidate_left_bg">
                            	&nbsp;
                            </div>
                            <div class="candidate_right_bg">
                            	<a class="candidate_right_btn2" id="button" href="#"></a>
                            </div>
                        </div>
                        
                     
                    </div>
<div>
<!-- Add static content for 'Contact Us' page here -->
[Contact Us Content Goes here]
</div>