<!-- 
     Edit this file to change the home page graphic and static text
 -->
 <!--*************************** banner start ***************************-->
    <div id="banner_body">
    	<div id="banner_main">
        	<div class="banner_cont">
            	<div class="bnr_left_cont">
                    <div class="bnr_need_peak"><img src="/application/views/img/bnr-need-peak.png" alt="" /></div>
                    <div class="browse_feature_cont">
                        <h1>Browse Feature Engineering Profiles</h1>
    					<p>
                        Find the specific engineering talent<br /> that fits your requirements!  Select your<br /> candidate preferences and search<br /> qualified engineers.
                        </p>
                    </div>
                </div>
                
                <div class="bnr_right_cont"><img src="/application/views/img/video-bg.jpg" alt="" /></div>
            </div>
        </div>
    </div>
    <!--*************************** banner end *****************************-->