<div id="view-content">
<div><h3>JobSite Login</h3></div>
<?php 
	$this->loginForm->setAction("/login");
	echo $this->loginForm;
?>
<div>Need a login, <a href="/auth/register"/>register now</a>.</div>
</div>