<?php
echo $this->doctype() ?>
<html lang="en">
<head>
<meta charset="utf-8">
<title>PeakJobs</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<?php echo $this->headLink()->appendStylesheet('/application/views/css/bootstrap.css') ?>
<?php echo $this->headLink()->appendStylesheet('/application/views/css/bootstrap-responsive.css') ?>
<style type="text/css">
body {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: white;
}

.headertext {
	font-size: 13px;
}

.imagebackground {
	background-image: url("../application/views/img/bizpic.jpg");
	background-repeat: no-repeat;
	width: 400px;
	height: 196px;
}

.mainbox {
	border-bottom:1px solid #dedede;
	padding-bottom: 15px;
}
.candidateSavedAlert {
	display: none;
	text-align: center;
}
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
<a name="top"/>
	<div class="container">
		<div class="header headertext">
			<div class="logo">
				<h1><a href="/"><img title="Peak Jobs" src="/application/views/img/peak_technical_staffing_banner-a.jpg"/></a></h1>
			</div>
			<div>&nbsp;</div>
			<div class="navbar">
				<div class="navbar-inner">
					<div>
						<a data-target=".nav-collapse" data-toggle="collapse"
							class="btn btn-navbar"> <span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> </a>
						<div class="nav-collapse">
							<ul class="nav">
								<li class="active"><a href="#">Employers</a></li>
							</ul>
						</div>
						<!-- /.nav-collapse -->
					</div>
				</div>
				<!-- /navbar-inner -->
				<ul class="breadcrumb">
					<li><a href="/">Home</a>&nbsp;&nbsp;</li>
					<li><a href="/candidates">All Resumes</a>&nbsp;&nbsp;<span
						class="divider">|</span>
					</li>
					<li class="active">&nbsp;<!--  <a href="/candidates/saved">My Resumes</a>--></li>
				</ul>
				<div class="row">
					<div class="span6">
						<div class="candidateSavedAlert alert fade in">&nbsp;<!-- Candidate saved. --></div>
					</div>
				</div>
				<div class="row ">
					<div class="span12 mainbox">
					<?php if (isset($this->message) && strlen($this->message) > 0) { ?>
						<div class="row">
						<div class="span6">
							<div class="alert fade in"><?php echo $this->message; $this->message = '';?></div>
						</div>
						</div>
					<?php } ?>
					<?php echo $this->layout()->content; ?>
					<br/>
					<br/>
					</div>
				</div>
			</div>
			<footer class="footer">
			<div style="float:left">&copy; 2012 PeakJobs	</div>
			<div style="float:right">
				<a href="/static/contactUs">Contact Us</a> &nbsp; - &nbsp; <a
					href="/static/privacy">Privacy Statement</a>&nbsp;&nbsp;			 
			</div>
</footer>
		</div>

	</div>
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/application/views/scripts/js/jquery.js"></script>
	<script src="/application/views/scripts/js/bootstrap-transition.js"></script>
	<script src="/application/views/scripts/js/bootstrap-alert.js"></script>
	<script src="/application/views/scripts/js/bootstrap-modal.js"></script>
	<script src="/application/views/scripts/js/bootstrap-dropdown.js"></script>
	<script src="/application/views/scripts/js/bootstrap-scrollspy.js"></script>
	<script src="/application/views/scripts/js/bootstrap-tab.js"></script>
	<script src="/application/views/scripts/js/bootstrap-tooltip.js"></script>
	<script src="/application/views/scripts/js/bootstrap-popover.js"></script>
	<script src="/application/views/scripts/js/bootstrap-button.js"></script>
	<script src="/application/views/scripts/js/bootstrap-collapse.js"></script>
	<script src="/application/views/scripts/js/bootstrap-carousel.js"></script>
	<script src="/application/views/scripts/js/bootstrap-typeahead.js"></script>
	<script src="/application/views/scripts/js/peakjobs.js?v=0.1"></script>
	<script language="javascript">
		<!--
			$('.dropdown-toggle').dropdown();
		//-->
	</script>
</body>
</html>
