<?php
echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<?php echo $this->headTitle(); ?>
<?php echo $this->headLink()->appendStylesheet('/application/views/css/bootstrap.css') ?>
<?php //echo $this->headLink()->appendStylesheet('/application/views/css/bootstrap-responsive.css') ?>
<?php echo $this->headLink()->appendStylesheet('/application/views/css/style.css') ?>
<?php if($this->isIndex) { echo $this->headLink()->appendStylesheet('http://vjs.zencdn.net/c/video-js.css'); } ?>
<?php if($this->isIndex) { ?>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<?php } ?>
<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-10014554-2']);
	_gaq.push(['_trackPageview']);
	
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
</script>
</head>

<body>
	<div id="body">
		<!--************************* header start **************************-->
		<div id="header_body">
			<div id="header_main">
				<div class="header_cont">
					<div class="logo">
						<a href="/"><img src="/application/views/img/logo.jpg" alt="" /> </a>
					</div>
					<div class="num_right">888.888.PEAK</div>
				</div>
			</div>
		</div>
		<!--************************ header end ********************************-->
		<!--*************************** banner start ***************************-->
		<?php if(isset($this->isIndex) && $this->isIndex) { ?>
		<div id="banner_body">
			<div id="banner_main">
				<div class="banner_cont">
					<div class="bnr_left_cont">
						<div class="bnr_need_peak">
							<img src="/application/views/img/bnr-need-peak.png" alt="" />
						</div>
						<div class="browse_feature_cont">
							<h1>Browse Featured Engineering Profiles</h1>
							<p>
								Find the specific engineering talent<br /> that fits your
								requirements! Select your<br /> candidate preferences and search<br />
								qualified engineers.
							</p>
						</div>
					</div>

					<div class="bnr_right_cont" id="videoContainer">
							<a href="javascript:runVideoLeft();"><img src="http://static.peaktechnical.com/home/images/right.jpg" alt="Watch Video" border="0" width="434" height="266"/></a>
						</div>
						<!-- End VideoJS -->
					</div>
				</div>
			</div>
		</div>
		<?php } ?>
		<!--*************************** banner end *****************************-->
		<!--*************************** inner start ***************************-->
		<div id="inner_body">
			<div id="inner_main">
			<?php if (isset($this->message) && strlen($this->message) > 0 && stripos($this->message,"error") == false) { ?>
				<div class="row">
					<div class="span6">
						<div class="alert fade in">
						<?php echo $this->message; $this->message = '';?>
						</div>
					</div>
				</div>
				<?php } ?>
				<?php echo $this->layout()->content; ?>
			</div>
		</div>
		<!--*************************** inner end *****************************-->
		<!--*************************** footer start *****************************-->
		<div id="footer_body">
			<div id="footer_main">
				<div class="footer_cont">
					<div class="footer_bck_cont">
						<div class="footer_left_cont">© 2012 PEAK Technical Staffing USA</div>
						<div class="footer_right_cont">
							<div class="footer_contact_cont">
								<div class="footer_ph_icon"></div>
								<div class="footer_ph_txt">
									<a href="http://www.peaktechnical.com/contact.php?top=e">Contact Us</a>
								</div>
								<div class="footer_right_txt">
									<a href="http://www.peaktechnical.com/privacy.php">Privacy Statement</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--*************************** footer end *****************************-->
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/application/views/scripts/js/jquery.js"></script>
	<script src="/application/views/scripts/js/bootstrap-transition.js"></script>
	<script src="/application/views/scripts/js/bootstrap-alert.js"></script>
	<script src="/application/views/scripts/js/bootstrap-modal.js"></script>
	<script src="/application/views/scripts/js/bootstrap-dropdown.js"></script>
	<script src="/application/views/scripts/js/bootstrap-scrollspy.js"></script>
	<script src="/application/views/scripts/js/bootstrap-tab.js"></script>
	<script src="/application/views/scripts/js/bootstrap-tooltip.js"></script>
	<script src="/application/views/scripts/js/bootstrap-popover.js"></script>
	<script src="/application/views/scripts/js/bootstrap-button.js"></script>
	<script src="/application/views/scripts/js/bootstrap-collapse.js"></script>
	<script src="/application/views/scripts/js/bootstrap-carousel.js"></script>
	<script src="/application/views/scripts/js/bootstrap-typeahead.js"></script>
	<script src="/application/views/scripts/js/peakjobs.js?v=0.1"></script>
	<script language="javascript">
		<!--
			$('.dropdown-toggle').dropdown();

		<?php if($this->isIndex) { ?>
		 function runVideoLeft()
		 {
			 
			  document.getElementById("videoContainer").innerHTML='<!-- Begin VideoJS --><div class="video-js-box"><!-- Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody --><video id="example_video_2" class="video-js" width="434" height="266" controls="controls" autoplay="true" preload="auto" poster="http://static.peaktechnical.com/home/images/left.jpg"><source src="http://static.peaktechnical.com/employer-video-a.mp4" type=\'video/mp4; codecs="avc1.42E01E, mp4a.40.2"\'/><!-- Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class. --><object id="flash_fallback_2" class="vjs-flash-fallback" width="434" height="266" type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf"><param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.7.swf" /><param name="allowfullscreen" value="true" /><param name="wmode" value="transparent"> <param name="flashvars" value=\'config={"playlist":["http://static.peaktechnical.com/home/images/left.jpg", {"url": "http://static.peaktechnical.com/home/contractor_7h.mp4","autoPlay":true,"autoBuffering":true}]}\' /><!-- Image Fallback. Typically the same as the poster image. --><img src="http://static.peaktechnical.com/home/images/left.jpg" width="434" height="266" alt="Poster Image"title="No video playback capabilities." /></object></video><!-- Download links provided for devices that can\'t play video in the browser. --><p class="vjs-no-video"></p></div> <!-- End VideoJS --> ';
			 
					 
			 VideoJS.setupAllWhenReady();
		 }
		
		<?php }?>
		//-->
	</script>
	
</body>
</html>
