<?php

echo $this->doctype() ?>
<html lang="en">
<head>
<meta charset="utf-8">
<title>JobSite Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<?php echo $this->headLink()->appendStylesheet('../application/views/css/bootstrap.css') ?>

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
<?php echo $this->headLink()->appendStylesheet('../application/views/css/bootstrap-responsive.css') ?>
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

<!-- Le fav and touch icons -->
<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed"
	href="../assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
	<div class="container-fluid">
		<div class="span9">
		<?php echo $this->layout()->content; ?>

			<hr>

		</div>
		<div>
			<!-- <footer>

			<p>&copy; JobSite 2012</p>
			</footer> -->
		</div>
	</div>

</body>
</html>
