<?php
		$message = "";
		if(count($this->Candidates) > 0) {
			$message = "All Engineers";
		}
		if(!empty($this->discipline) && empty($this->state)) { 
				//$message =  ucwords($this->discipline) . " Engineers";
				$message =  "<a class='navlink' href='/engineers/" . strtolower($this->discipline) . "-engineers'>"  . ucwords(str_replace("-"," ",$this->discipline)) . " Engineers" . "</a>";  
				$this->headTitle()->prepend(ucwords($this->discipline) . " Engineers");
		} else if(!empty($this->discipline) && !empty($this->state) && empty($this->city)) {
				$message =  "<a class='navlink' href='/engineers/" . strtolower($this->discipline) . "-engineers'>"  . ucwords(str_replace("-"," ",$this->discipline)) . " Engineers" .  "</a>" . " &gt; " . "<a class='navlink'  href='/engineers/" . strtolower(str_replace(" ","-",$this->state)) . "'>" . ucwords($this->state) . "</a>";  
				$this->headTitle()->prepend(ucwords($this->state));
				$this->headTitle()->prepend(ucwords($this->discipline) . " Engineers");		
		} else if(!empty($this->state)  && empty($this->discipline) &&  empty($this->city)) {
				//$message =  ucwords($this->state) . " Engineers"; 
				$message =  "<a class='navlink'  href='/engineers/all-engineers'>" . "All Engineers"  .  "</a>" . " &gt; " . "<a class='navlink'  href='/engineers/" . strtolower(str_replace(" ","-",$this->state)) . "'>" . ucwords($this->state) . "</a>";  
				$this->headTitle()->prepend(ucwords($this->state));
				$this->headTitle()->prepend(ucwords($this->discipline) . "All Engineers");		
		} else if(!empty($this->city) && empty($this->discipline) &&  empty($this->state)) {
				//$message =  ucwords($this->city) . " Engineers"; 
				$message =  "<a class='navlink'  href='/engineers/'>"  .  ucwords($this->city) . " Engineers" . "</a>"; 
				$this->headTitle()->prepend(ucwords($this->city));
				$this->headTitle()->prepend(ucwords($this->discipline) . "All Engineers");		 
		} else if(($this->disciplineID == -1) && (!empty($this->state) || !empty($this->stateabbr)) && !empty($this->city)) {
				//$message =  "All Engineers in " . ucwords($this->city) . ", " . $this->stateabbr; 
				$message =  "<a class='navlink'  href='/engineers/all-engineers'>"  .  "All Engineers" . "</a>" . " &gt; " . "<a class='navlink'  href='/engineers/" . strtolower(str_replace(" ","-",$this->state)) . "'>" . ucwords($this->state) . "</a>" . " &gt; "  . "<a class='navlink'  href='/engineers/" . strtolower($this->stateabbr) . "/" . strtolower(str_replace(" ", "-", $this->city)) . "'>" . ucwords($this->city) . "</a>";
				$this->headTitle()->prepend(ucwords($this->city) . ", " . strtoupper($this->stateabbr));
				$this->headTitle()->prepend(ucwords($this->discipline) . "All Engineers");		  
		} else if(!empty($this->discipline) && !empty($this->state) && empty($this->city)) {
				//$message =  ucwords($this->discipline) . " Engineers in " . ucwords($this->state); 
				$message = "<a class='navlink'  href='/engineers/" . strtolower($this->discipline) . "-engineers'>"  .  ucwords(str_replace("-"," ",$this->discipline)) . "</a>" . " Engineers " . " &gt; " .  "<a class='navlink'  href='/engineers/" . strtolower($this->discipline) . "-engineers/". strtolower(str_replace(" ","-",$this->state)) . "'>"  .  ucwords($this->state) . "</a>";
				$this->headTitle()->prepend(ucwords($this->state));
				$this->headTitle()->prepend(ucwords($this->discipline) . " Engineers");	
		} else 	if(!empty($this->discipline) && (!empty($this->state) || !empty($this->stateabbr)) && !empty($this->city)) { 
				//$message =  ucwords($this->discipline) . " Engineers in " . ucwords($this->city) . ", " . $this->stateabbr; 
				//$message =  ucwords($this->discipline) . " Engineers " . " &gt; " . ucwords($this->state); 
				$message =  "<a class='navlink'  href='/engineers/" . strtolower($this->discipline) . "-engineers'>" .  ucwords(str_replace("-"," ",$this->discipline)) . " Engineers " .  "</a> &gt; " .  "<a class='navlink'  href='/engineers/" . strtolower($this->discipline) . "-engineers/" . strtolower(str_replace(" ","-",$this->state))  . "'>" . ucwords($this->state) . "</a>"  . " &gt; " .  "<a class='navlink'  href='/engineers/" . strtolower($this->discipline) . "-engineers/" . strtolower($this->stateabbr)  . "/" . strtolower(str_replace(" ", "-", $this->city)) . "'>" .  ucwords($this->city) . "</a>";
				$this->headTitle()->prepend(ucwords($this->city) . ", " . strtoupper($this->stateabbr));
				$this->headTitle()->prepend(ucwords($this->discipline) . " Engineers");	
		} 
		
?>
<style type="text/css">
thead td {
	font-weight: bold;
}
#homelink {
	text-decoration: none;
	color: white;
}
</style>
<div id="view-content">
<div class="candidate_profile_cont">
 <div class="candidate_profile_top">
<div class="candidate_left_bg"><br/>&nbsp;&nbsp;<a class="navlink" href="/engineers/">Index Home</a> &gt; <?php echo $message; ?>
                            <!--  <a id="homeLink" href="/">Home</a>-->
                            </div>
                            <div class="candidate_right_bg">
                            	<a class="candidate_right_btn2" id="button" href="#"></a>
                            </div>
                        </div>
                        
                     
                    </div>
 <div><!-- <a href="/">Home</a>  --></div>
 <br/>
	<?php // if(!empty($message)) {  echo "<h2> " . $message . "</h2>";  } ?>
	<div>
		<div class="span12">
			<div class="span4 btn-group .btn-small">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><strong>
						<?php 
							if(strlen($this->discipline)>0) {
								echo $this->discipline;
							} else {
								echo "Filter by Discipline";
							}
						?></strong> <span class="caret"></span> </a>
				<ul class="span dropdown-menu">
				<?php 
					foreach ($this->Disciplines as $Discipline): 
					$link = "/engineers/" . strtolower(str_replace(" ", "-", $Discipline->discipline)) . "-engineers";
					
					if(!empty($this->state) && empty($this->city)) {
							$link .=  "/" . strtolower(str_replace(" ", "-",$this->state));
					} elseif (!empty($this->state)  && !empty($this->city)) {
							$link .=  "/" . strtolower($this->stateabbr)  . "/" .  strtolower(str_replace(" ", "-", $this->city));
					}
					$title = $Discipline->discipline;
					
					$linkReset = preg_replace("/\/[A-Za-z_]+-{1}[enginrs]{9}/","/all-engineers",$link);
				?>
					<li class="small"><a
						href="<?php echo strtolower($link); ?>"
						title="<?php echo $title; ?>"><?php echo $title; ?>
					</a></li>
					<?php endforeach ?>
				</ul>
				<?php if(!empty($this->disciplineID) && $this->disciplineID > 0) {?>&nbsp;<span style="display:inline-block; vertical-align:bottom">&nbsp;<a href="<?php echo $linkReset;?>">Show All</a></span><?php }?>
			</div>
			<div class="span4 btn-group .btn-small">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><strong><?php 
							if(strlen($this->state)>0) {
								echo ucwords($this->state);
							} else {
								echo "Filter by State";
							}
						?></strong> <span class="caret"></span> </a>
				<ul class="dropdown-menu">
				<?php foreach ($this->States  as $State): 
				 		$link = "/engineers";
						if(!empty($this->discipline)) {
							$link .= "/" . str_replace(" ","-",$this->discipline) . '-engineers';
						}
						$link .= "/" . strtolower(str_replace(" ","-",$State->state));
				 		$linkReset = preg_replace("/\/(alabama|alaska|arizona|arkansas|california|colorado|connecticut|delaware|florida|georgia|hawaii|idaho|illinois|indiana|iowa|kansas|kentucky|louisiana|maine|maryland|massachusetts|michigan|minnesota|mississippi|missouri|montana|nebraska|nevada|new-hampshire|new-jersey|new-mexico|new-york|north-carolina|north-dakota|ohio|oklahoma|oregon|pennsylvania|rhode-island|south-carolina|south-dakota|tennessee|texas|utah|vermont|virginia|washington|west-virginia|wisconsin|wyoming|puerto-rico|district-of-columbia)/","",$link);
						$title = $State->state;
						
						if(strcasecmp($linkReset, "/engineers") == 0) {
							$linkReset .= "/all-engineers";
						}
				?>
					<li class="small"><a
						href="<?php echo strtolower($link); ?>"
						title="<?php echo $title; ?>"><?php echo $title; ?>
					 </a>
					</li>
					<?php endforeach ?>
				</ul>
				<?php 
					if(!empty($this->state)) { 
						$link = "/engineers"; 
						
						if(!empty($this->discipline) && $this->discipline > 0) {
							$link .= "/" .str_replace(" ","-",$this->discipline);
						}
				?>&nbsp;<span style="display:inline-block; vertical-align:bottom">&nbsp;<a href="<?php echo strtolower($linkReset);?>">Show All</a></span><?php } ?>
			</div>
				<div class="span4 btn-group .btn-small">
				<?php if(strlen($this->state) > 0 || !empty($this->postalCode)) { ?><a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><strong>
<?php 
							if(strlen($this->city)>0) {
								echo ucwords($this->city);
							} else {
								echo "Filter by City";
							}
						?></strong> <span class="caret"></span> </a>
				<ul class="dropdown-menu">
				<?php 						 foreach ($this->Cities  as $City): 
					    $link = "/engineers";
					    $linkReset = "";
						
					    if(!empty($this->discipline) && strlen($this->discipline) > 0) {
							$link .= "/" . strtolower(str_replace(" ","-",$this->discipline))  . "-engineers";
							$linkReset .= $link;
						}

						if(!empty($this->stateabbr)) {
							$link .=  "/" . strtolower($this->stateabbr);
							
							if(stripos($linkReset,"engineers") == false) {
								$linkReset .= "/engineers" .  "/" . strtolower(str_replace(" ","-",$this->state));
							} else {
								$linkReset .=  "/" . strtolower($this->state);
							}
							
						} 
						
						$link .= "/" . str_replace(" ", "-", $City->city);
						$title = $City->city;
						
						$display = 1;
						
						if(strcasecmp($this->stateabbr, "az") == 0  && strcasecmp("Las Vegas", $City->city) == 0 ) {
							$display = 0;	
						}
				?>
					<?php if($display == 1) { ?>
					<li class="small"><a
						href="<?php echo strtolower($link); ?>"
						title="<?php echo $title; ?>"><?php echo $title; ?> 
					</a>
					</li>
					<?php } ?>
					<?php endforeach ?>
				</ul>
				<?php 
					if(!empty($this->city)) {
						
				?>&nbsp;<span style="display:inline-block; vertical-align:bottom">&nbsp;<a href="<?php echo strtolower($linkReset); ?>">Show All</a></span><?php }  }?>
			</div>
			<?php if($this->paginator != null) { echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'recordcount.phtml');} ?>
		</div>
	</div>
<div class="span12">&nbsp;</div>
	<?php if($this->totalrows > 0):  ?>
	<div class="row">
		<table class="span12 table table-striped">
		<?php  if($this->paginator != null && count($this->paginator) >0) {?>
			<thead>
				<tr>
					<!-- <td>&nbsp;</td> -->
					<td> ID</td>
					<td>Discipline</td>
					<td>Location</td>
					<!--  <td>Updated</td>-->
				</tr>
			</thead>
			<tbody>
			<?php foreach ($this->paginator as $item): 
				if(strcasecmp($item->disciplineID,$this->discipline) == 0) {
					$disciplineLink = "";
				} else {
					$disciplineLink = "/engineers/" . str_replace(" ","-",strtolower($item->disciplineID)) . '-engineers';
				}
				
				if(strlen($disciplineLink) > 0) {
					if(!empty($this->state) && empty($this->city)) {							
						$disciplineLink .=  "/" . str_replace(" ", "-", $this->state);
					} elseif (!empty($this->stateabbr) && !empty($this->city)) {
						$disciplineLink .=  "/" . strtolower($item->metrostate)  . "/" . strtolower(str_replace(" ", "-", $item->metrocity));
					}
				}	
				if(strcasecmp($item->city,$this->city) == 0 && strcasecmp($item->state,$this->state) == 0) {
					$cityStateLink = "";	
				} else {
					$cityStateLink = "/engineers";

					if(!empty($this->discipline) && strlen($this->discipline) > 0) {
							$cityStateLink .= "/" . str_replace(" ", "-",strtolower($this->discipline)) . "-engineers";
					}
						
					//if(!empty($this->stateabbr)) {
						//$cityStateLink .=  "/" . $this->stateabbr;
					//}
					$cityStateLink .= "/" . strtolower($item->metrostate) . "/" . strtolower(str_replace(" ", "-", $item->metrocity));
				}
				
				
			?>
			<!-- /engineers/view?candidateID= -->
				<tr>
					<!-- <td><a id="saveResume" href="#"
						onclick="javascript:showAlert(<?php echo $item->candidateID; ?>);"
						data-content="Click add icon to save resume for viewing later."
						rel="popover" href="#" data-original-title="Save Resume"><span
							class="icon-plus"></span> </a></td> -->
					<td><a
						href="http://www.peaktechnical.com/engineers/details/<?php echo $item->candidateID; ?>.html" target="_blank"><?php echo $item->candidateID; ?>
					</a></td>
					<td><?php if(strlen($disciplineLink)>0) { ?><a
						href="<?php echo $disciplineLink; ?>"><?php echo $item->disciplineID; ?>
					</a><?php } else { ?><?php echo $item->disciplineID; }?></td>
					<td><?php if(strlen($cityStateLink)>0) {?><a
						href="<?php echo $cityStateLink; ?>"><?php echo $item->city . ', ' .   $item->state; ?>
					</a><?php } else { ?><?php echo $item->city . ', ' .   $item->state; }?></td>
					<!--  <td><?php echo $item->updated; ?></td>-->
				</tr>
				<?php endforeach; }?>
			</tbody>
		</table>
		<div class="contant_cont">
		<?php if($this->paginator != null && count($this->paginator)>0) { echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'paginator.phtml');} ?>
                                    </div>
	</div>
	<?php endif?>
	<?php if(empty($this->Candidates)):?>
	<div>
		<strong>No resumes found.</strong>
	</div>
	<?php endif?>
</div>