	<div id="view-content">
		<h2>My Resumes</h2>
			<div>
		<div>
			<div  class="span12">
			<div class="span4 btn-group .btn-small">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><strong>Filter
						by Discipline</strong> <span class="caret"></span> </a>
				<ul class="dropdown-menu">
				<?php foreach ($this->Disciplines as $Discipline): ?>
					<li class="span3 small"><a
						href="/candidates?disciplineID=<?php echo $Discipline->disciplineID; ?>"
						title="<?php echo $Discipline->discipline?>"><?php echo $Discipline->discipline; ?>
					</a></li>
					<?php endforeach ?>
				</ul>
			</div>
				<div class="span4 btn-group .btn-small">
				<a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><strong>Filter
						by State</strong> <span class="caret"></span> </a>
				<ul class="dropdown-menu">
				<?php foreach ($this->States  as $State): ?>
					<li class="small"><a
						href="/candidates?state=<?php echo $State->state; ?>"
						title="<?php echo $State->state?>"><?php echo $State->state; ?> </a>
					</li>
					<?php endforeach ?>
				</ul>
			</div>		
			<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'recordcount.phtml'); ?>
		</div>
	</div>
	<?php if(count($this->paginator) > 0): ?>
	<div class="row">
		<table class="span12 table table-striped table-bordered">
			<thead>
				<tr>
					<td>Name</td>
					<td>Discipline</td>
					<td>Location</td>
					<td>Updated</td>
				</tr>
			</thead>
			<tbody>
			<?php foreach ($this->paginator as $item): ?>
				<tr>
					<td><a href="/candidates/view?candidateID=<?php echo $item->candidateID; ?>"><?php echo $item->firstName; ?></a></td>
					<td><a href="/candidates/view?candidateID=<?php echo $item->candidateID; ?>"><?php echo $item->disciplineID; ?></a></td>
					<td><a href="/candidates/view?candidateID=<?php echo $item->candidateID; ?>"><?php echo $item->city . ', ' .   $item->state; ?></a></td>
					<td><?php echo $item->updated; ?></td>
				</tr>
				<?php endforeach ?>
			</tbody>
		</table>
		<?php echo $this->paginationControl($this->paginator,
                                    'Sliding',
                                    'paginator.phtml'); ?>
	</div>
	<?php endif?>
	<?php if(count($this->savedCandidates) == 0):?>
<div>You currently do not have any saved candidates. Go back to the <a href="/candidates">list of resumes</a> and click on the save icon to save it.</div>
	<?php endif?>
	</div>