<div class="candidate_profile_cont">
 <div class="candidate_profile_top">
<div class="candidate_left_bg">
                            	&nbsp;
                            </div>
                            <div class="candidate_right_bg">
                            	<a class="candidate_right_btn2" id="button" href="#"></a>
                            </div>
                        </div>
                        
                     
                    </div>
<div>
Thank you for your interest in Peak Technical Staffing USA.
<br />
<br />
You will be contacted shortly to further discuss your needs.
</div>