<?php foreach($this->Candidate as $candidate) :?>

<div class="row"><h1><span class="span12">Resume: <?php echo $candidate->firstName; ?></span></h1></div>
<br/>
<div><strong>Last Update:</strong> <?php echo $candidate->updated; ?></div>
<br/>
<br/>
<div><strong>Discipline:</strong><a href="/candidates/?disciplineID=<?php echo $candidate->disciplineID; ?>"><?php echo $candidate->discipline; ?></a></div>
<div><strong>Location: </strong><?php echo $candidate->city; ?>, <?php echo $candidate->state; ?> </div>
<br/>
<br/>
<div><h1>Content</h1></div>
<div><?php echo $candidate->resume; ?></div>
<?php endforeach; ?>