  <div id="view-content">
<div class="candidate_profile_cont">
 <div class="candidate_profile_top">
<div class="candidate_left_bg"><br/>&nbsp;&nbsp;<a class="navlink" href="/engineers/">Index Home</a>
 </div>
                            <div class="candidate_right_bg">
                            	<a class="candidate_right_btn2" id="button" href="#"></a>
                            </div>
                        </div>
                    </div>
 </div>
 <div class="span12">
 <br/>
   <div  class="alert alert-error"><?php echo $this->message; ?></div>

&nbsp;</div>
