@charset "utf-8";
/* CSS Document */

body
{
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, span, p, ul, li, b, font, ol
{
	margin:0;
	padding:0;
}

a
{
	outline:none;
}

img
{
	outline:none;
	border:none;
}

#body
{
	float:left;
	width:100%;
	height:auto;
}

#header_body
{
	float:left;
	width:100%;
	height:auto;
}

#header_main
{
	margin:0 auto;
	width:1000px;
	height:auto;
}

.header_cont
{
	float:left;
	width:1000px;
	height:auto;
	margin-bottom:15px;
}

.logo
{
	float:left;
	width:350px;
	height:96px;
	margin-top:8px;
}

.hire_me_btn_cont
{
	float:left;
	width:230px;
	height:auto;
	margin-left:100px;
	margin-top:50px;
}

.hire_me_btn
{
	float:left;
	width:224px;
	height:47px;
	background:url(/application/views/img/hire-me-btn.png) no-repeat;
}

.hire_me_btn:hover
{
	background-position:0 -47px;
}

.num_right
{
	float:right;
	width:300px;
	height:auto;
	font-size:36px;
	color:#ef2d23;
	text-align:right;
	padding-top:55px;
	font-weight:bold;
}

#banner_body
{
	float:left;
	width:100%;
	height:379px;
	background:url(/application/views/img/bnr-bck-bg.jpg) top repeat-x;
}

#banner_main
{
	margin:0 auto;
	width:1000px;
	height:auto;
}

.banner_cont
{
	float:left;
	width:1000px;
	height:358px;
	margin-top:21px;
	background:url(/application/views/img/bnr-right-bck-bg.png) top right no-repeat;
}

.bnr_left_cont
{
	float:left;
	width:418px;
	height:auto;
}

.bnr_need_peak
{
	float:left;
	width:418px;
	height:103px;
	margin-top:15px;
}

.browse_feature_cont
{
	float:left;
	width:360px;
	height:auto;
	padding-left:8px;
	padding-top:20px;
}

.browse_feature_cont h1
{
	font-size:36px;
	color:#020202;
	background:url(/application/views/img/bnr-arrow-bg.png) 20px 10px no-repeat;
	text-align:center;
	margin-left:-18px;
}

.browse_feature_cont p
{
	font-size:19px;
	color:#040707;
	line-height:24px;
	padding-top:13px;
}

.bnr_right_cont
{
	float:right;
	width:434px;
	height:266px;
	margin:23px 102px 0 0;
}

#inner_body
{
	float:left;
	width:100%;
	height:auto;
}

#inner_main
{
	margin:0 auto;
	width:1000px;
	height:auto;
}

.inner_cont
{
	float:left;
	width:1000px;
	height:auto;
	padding-bottom:25px;
}

.inner_top_cont
{
	float:left;
	width:1000px;
	height:38px;
	background:url(/application/views/img/inner-bck-bg.png) top no-repeat;
}

.inner_top_list
{
	float:left;
	width:1000px;
	height:38px;
}

.inner_top_list ul
{
	float:left;
	display:block;
}

.inner_top_list ul li
{
	float:left;
	height:38px;
	list-style:none;
	display:inline;
	text-align:center;
	font-size:13px;
	color:#fff;
}

.inner_top_list ul li a
{
	float:left;
	height:28px;
	padding:10px 19px 0 19px;
	color:#fff;
	text-decoration:none;
}

.inner_top_list ul li a:hover
{
	color:#fff;
	text-decoration:none;
	background:#000 url(/application/views/img/inner-top-arrow.png) bottom center no-repeat;
}

.inner_top_list ul li a.active
{
	color:#fff;
	text-decoration:none;
	background:#000 url(/application/views/img/inner-top-arrow.png) bottom center no-repeat;
}

.inner_contact
{
	float:left;
	width:974px;
	height:auto;
	margin-top:25px;
	margin-bottom: 25px;
	padding:0 0px;
}

.inner_contact_list
{
	float:left;
	width:974px;
	height:auto;
}

.inner_contact_list ul
{
	float:left;
	width:216px;
	height:auto;
	display:block;
	margin-right:36px;
}

.inner_contact_list ul li
{
	list-style:none;
	font-size:18px;
	color:#0195c5;
	line-height:32px;
}

#footer_body
{
	float:left;
	width:100%;
	height:auto;
}

#footer_main
{
	margin:0 auto;
	width:1000px;
	height:auto;
}

.footer_cont
{
	float:left;
	width:1000px;
	height:auto;
}

.footer_bck_cont
{
	float:left;
	width:1000px;
	height:38px;
	background:url(/application/views/img/inner-bck-bg.png) top no-repeat;
}

.footer_left_cont
{
	float:left;
	width:400px;
	height:auto;
	font-size:12px;
	color:#fff;
	margin-left:13px;
	padding-top:13px;
}

.footer_right_cont
{
	float:right;
	width:226px;
	height:auto;
	margin-right:30px;
	padding-top:13px;
}

.footer_contact_cont
{
	float:right;
	width:218px;
	height:auto;
}

.footer_ph_icon
{
	float:left;
	width:18px;
	height:16px;
	background:url(/application/views/img/phone-icon.png) no-repeat;
	margin-right:10px;
}

.footer_ph_txt
{
	float:left;
	width:90px;
	height:auto;
	font-size:12px;
	color:#fff;
	padding-top:1px;
}

.footer_ph_txt a
{
	color:#fff;
	text-decoration:none;
}

.footer_ph_txt a:hover
{
	color:#fff;
	text-decoration:underline;
}

.footer_right_txt
{
	float:left;
	width:100px;
	height:auto;
	font-size:12px;
	color:#fff;
	padding-top:1px;
}

.footer_right_txt a
{
	color:#fff;
	text-decoration:none;
}

.footer_right_txt a:hover
{
	color:#fff;
	text-decoration:underline;
}

/*************************** profile detail form start *************************/

.profile_form_cont
{
	width:420px;
	height:400px;
}

.profile_form_box
{
	float:left;
	width:420px;
	height:auto;
	margin-bottom:10px;
	clear:both;
}

.profile_form_txt
{
	float:left;
	width:100px;
	height:auto;
	font-size:12px;
	color:#3e3d3d;
	padding-top:8px;
}

.profile_form_input
{
	float:right;
	width:313px;
	height:30px;
}

.profile_form_input input
{
	width:311px;
	height:28px;
	background:#fff;
	border:1px solid #acacac;
}

.profile_form_box1
{
	float:left;
	width:420px;
	height:auto;
	margin-top:20px;
}

.profile_form_box_txt
{
	float:left;
	width:420px;
	height:auto;
	font-size:12px;
	color:#3e3d3d;
	padding-bottom:10px;
}

.protile_form_box_select
{
	float:left;
	width:420px;
	height:30px;
}

.protile_form_box_select select
{
	float:right;
	width:311px;
	height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#3e3d3d;
	border:1px solid #acacac;
	padding:5px 0 4px 0;
}

/*************************** profile detail form end ***************************/

.inner_top_cont1
{
	float:left;
	width:1000px;
	height:48px;
	background:url(/application/views/img/inner-bck-bg1.png) top no-repeat;
	margin-bottom:20px;
}

.contant_area_cont
{
	float:left;
	width:1000px;
	height:auto;
}

.contant_area_cont h1
{
	font-size:24px;
	color:#fff;
	font-weight:normal;
	font-style:normal;
	padding:10px 0 0 20px;
}

.candidate_profile_cont
{
	float:left;
	width:1000px;
	height:auto;
}

.candidate_profile_top
{
	float:left;
	width:1000px;
	height:auto;
	margin-bottom:10px;
}

.candidate_left_bg
{
	float:left;
	width:796px;
	height:48px;
	background:url(/application/views/img/candidate-left-bck-bg.png) no-repeat;
	color: white;
}

.candidate_right_bg
{
	float:left;
	width:216px;
	height:auto;
	margin-left:-12px;
}

.candidate_right_btn
{
	float:left;
	width:216px;
	height:48px;
	background:url(/application/views/img/hire-me-btn1.png) no-repeat;
	cursor:pointer;
}

.candidate_right_btn2
{
	float:left;
	width:216px;
	height:48px;
	background:url(/application/views/img/red-btn1.png) no-repeat;
	cursor:pointer;
}

.candidate_right_btn:hover
{
	background-position:0 -48px;
}

.candidate_contant_cont
{
	float:left;
	width:1000px;
	height:auto;
	margin-bottom:10px;
}

.candidate_contant_left
{
	float:left;
	width:749px;
	height:auto;
	padding:20px 20px 0 20px;
}

.candidate_contant_txt1
{
	float:left;
	width:749px;
	height:auto;
	font-size:24px;
	color:#2a2a2a;
	font-weight:bold;
	padding-top:15px;
}

.candidate_contant_txt2_cont
{
	float:left;
	width:749px;
	height:auto;
	padding-top:20px;
}

.candidate_contant_txt2
{
	float:left;
	width:410px;
	height:auto;
	font-size:24px;
	color:#2a2a2a;
	font-weight:bold;
}

.candidate_contant_txt3
{
	float:right;
	width:250px;
	height:auto;
	font-size:24px;
	color:#2a2a2a;
	font-weight:bold;
}

.candidate_img
{
	float:left;
	width:179px;
	height:auto;
}

.candidate_img img
{
	width:179px;
	height:155px;
	margin:0;
}

.contant_cont
{
	float:left;
	width:960px;
	height:auto;
	padding:0 20px;
}

.contant_list1
{
	float:left;
	width:960px;
	height:auto;
}

.contant_list1 ul
{
	float:left;
	width:293px;
	height:auto;
	display:block;
	margin-right:40px;
}

.contant_list1 ul li
{
	list-style-image:url(/application/views/img/list-arrow.png);
	font-size:13px;
	color:#666666;
	padding-bottom:10px;
	margin-left:18px;
}

.contant_box
{
	float:left;
	width:1000px;
	height:auto;
	margin-top:10px;
}

.contant_box h2
{
	font-size:16px;
	color:#ee2c22;
	margin-bottom:10px;
}

.contant_cont1
{
	float:left;
	width:960px;
	height:auto;
	padding:0 20px;
}

.contant_area
{
	float:left;
	width:1000px;
	height:auto;
	margin-top:25px;
}

.contant_list2
{
	float:left;
	width:960px;
	height:auto;
}

.contant_list2 ul
{	
	display:block;
}

.contant_list2 ul li
{
	list-style-image:url(/application/views/img/list-arrow.png);
	font-size:13px;
	color:#666666;
	padding-bottom:10px;
	margin-left:18px;
}

.contant_list3
{
	float:left;
	width:160px;
	height:auto;
}

.contant_list3 h3
{
	font-size:16px;
	color:#ee2c22;
	margin-bottom:10px;
}

.contant_list3 ul
{	
	display:block;
	padding-right:10px;
}

.contant_list3 ul li
{
	list-style-image:url(/application/views/img/list-arrow.png);
	font-size:13px;
	color:#666666;
	padding-bottom:10px;
	margin-left:18px;
}

.contant_list4
{
	float:left;
	width:160px;
	height:auto;
}

.contant_list4 h3
{
	font-size:16px;
	color:#ee2c22;
	margin-bottom:10px;
}

.contant_list4 ul
{	
	display:block;
	padding-right:10px;
}

.contant_list4 ul li
{
	list-style-image:url(/application/views/img/list-arrow.png);
	font-size:13px;
	color:#666666;
	padding-bottom:10px;
	margin-left:18px;
}

.contant_list5
{
	float:left;
	width:300px;
	height:auto;
}

.contant_list5 ul
{
	float:left;
	width:293px;
	height:auto;
	display:block;
	margin-right:40px;
}

.contant_list5 ul li
{
	list-style:none;
	font-size:13px;
	color:#666666;
	padding-bottom:10px;
}

a.navlink
{
	text-decoration: none;
	color:white;
}

a.navlink:visited
{
	text-decoration: none;
	color:white;
}